/* 
.container {
  margin-top: 2rem;
}

.form{
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-title {
  margin-bottom: 2rem;
  
}

.submit-button {
  background-color: #ff0056;
  width: 100%;
  margin-top: 30px;
  border: none;
  color: white;
  font-size: 1rem;
  padding: 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
}


.submit-button:hover {
  background-color: #e6004c;
}

.alert-success {
  margin-top: 1rem;
} */


/* src/BookTable.css */
.container {
    margin-top: 2rem;
}

.form {
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
}

.form-title {
    margin-bottom: 2rem;
}

.submit-button {
    background-color: #ff0056;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 0.75rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #e6004c;
}

.alert-success {
    margin-top: 1rem;
}

.payment-section {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    background-color: #f8f9fa;
}

.payment-section button {
    margin-top: rem;
}
.proceed{
  float: right;

}